.avatar {
  display: inline-block;
  position: relative;
  @include size(2.5em);
  border-radius: 50%;
  background: $light-gray;
  padding: .5em 0;
  text-align: center;

  .initial {
    display: block;
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1.5em;
    vertical-align: middle;
  }

  > * ~ .initial {
    display: none;
  }

  img {
    @include size(2.5em);
    margin: -.5em 0;
    border-radius: 50%;
  }

  &.verified::after {
    content: "";
    @include position(absolute, null 0em 0em null);
    @include size(.75em);
    background: $accent-color;
    border: 1px solid white;
    border-radius: 50%;
  }

  &.red { background-color: $oc-red-5; }
  &.pink { background-color: $oc-pink-5; }
  &.grape { background-color: $oc-grape-5; }
  &.violet { background-color: $oc-violet-5; }
  &.indigo { background-color: $oc-indigo-5; }
  &.blue { background-color: $oc-blue-5; }
  &.cyan { background-color: $oc-cyan-5; }
  &.teal { background-color: $oc-teal-5; }
  &.green { background-color: $oc-green-5; }
  &.lime { background-color: $oc-lime-5; }
  &.yellow { background-color: $oc-yellow-5; }
  &.orange { background-color: $oc-orange-5; }
}
