.application {
  @include position(fixed, 0rem 0rem 0rem 0rem);
  background-color: $sidebar-background-color;
  color: $sidebar-font-color;


  main {
    @include position(fixed, 0rem 0rem 0rem 0rem);
    background: $base-background-color;
    box-shadow: 0 0 .5rem rgba($oc-black, .25);

    .shim {
      display: none;
    }

    &[data-sidebar="true"] {
      .shim {
        display: block;
        @include position(absolute, 0% 0% 0% 0%);
        z-index: 1000;
      }
    }
  }
}
