.clearance {
  @include position(fixed, 0% 0% 0% 0%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $accent-color;
  color: $oc-white;
}

.login-form {
  flex: 1;
  width: 100%;

  form {
    padding: 1rem;

    h1 {
      font-size: $large-font-size;
      margin: 0 1rem .5rem;
    }

    [role="tabs"] {
      display: flex;
      margin: 0 1rem 1rem;

      [role="tab"] {
        display: block;
        color: $oc-white;
        opacity: .35;
        cursor: pointer;
        transition: opacity $base-duration $base-timing;
        text-transform: uppercase;
        margin-right: 1rem;

        &:last-child {
          order: 2;
          margin-right: 0;
        }

        &[aria-selected="true"] {
          opacity: 1;
        }
      }

      &::after {
        content: "";
        order: 1;
        flex: 1;
      }
    }

    fieldset {
      background: $oc-white;
      color: $base-font-color;
      border-radius: $base-border-radius;
      padding: 1rem;
      position: relative;

      p:last-child {
        margin-bottom: 0;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        margin: -.5rem -.5rem 0;
        border-left: .5rem solid transparent;
        border-right: .5rem solid transparent;
        border-bottom: .5rem solid $oc-white;
        transition: left $base-duration $ease-out-back;
      }

      section {
        margin-bottom: .5rem;
      }

      section div {
        position: relative;

        .field {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }

      .errors {
        @include position(absolute, 100% 0% null 0%);
        margin-top: 1rem;
        padding: 0 1rem;
        opacity: .75;
        color: $oc-white;
      }
    }

    &[data-mode="login"] fieldset::before { left: 2.7rem; }
    &[data-mode="signup"] fieldset::before { left: 7.5rem; }
    &[data-mode="password"] fieldset::before { left: calc(100% - 3.75rem); }

    button {
      display: block;
      margin: 0;
      width: 100%;
      overflow: hidden;
      position: relative;
      height: 2.5rem;

      span {
        @include position(absolute, 0% 0% 0% 0%);
        padding: $small-spacing $base-spacing;
      }
    }
  }

  @include media($medium-screen) {
    flex: 0;
    max-width: 20rem;
    min-height: 50vh;

    fieldset {
      filter: drop-shadow(0 0 .5rem rgba(black, .15));
    }
  }
}
